@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf9f5;
  --foreground: #132b23;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1ede4;
}

::-webkit-scrollbar-thumb {
  background: #c7b8a1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9d896f;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Luxury selection highlight */
::selection {
  background-color: #cb9b44;
  color: #091712;
}
